.course-card {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-learn-more {
  padding: 8px 15px;
  margin-top: 10px; /* Space above the button */
  border: none;
  cursor: pointer;
}